mat-form-field {
  width: 40%;
  padding-bottom: 1rem;
}

button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-link {
  padding-top: 2rem;
}

.h1-title {
  padding-bottom: 2rem;
}
