<mat-toolbar color="primary">
  <span>
    <a mat-button routerLink="/homepage" routerLinkActive="mat-accent" class="span-title">TestAppOne</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/notes/note" routerLinkActive="mat-accent">Notes</a>
    </li>
    <li>
      <a mat-button routerLink="/projects/project" routerLinkActive="mat-accent">Projects</a>
    </li>
    <li>
      <a mat-button routerLink="/" routerLinkActive="mat-accent">Forum</a>
    </li>
    <li>
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li>
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
  </ul>
</mat-toolbar>
